*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.container{
	background: teal;
	padding: 2em;
	border-radius: 4px;
	color: #fff;
	width: 400px;
}

h1{
	text-align: center;
}

form input[type="text"]{
	height: 26px;
	width: 100%;
}

form input[type="submit"]{
	border: 0;
	font-size: 1.2em;
	padding: .3em .6em;
	border-radius: 5px;
}

form input[type="submit"]:hover{
	cursor: pointer;
}

.data{
	margin-top: 20px;
	text-align: center;
}



